/* Element selector */
p {
  font-family: 'Courier New', Courier, monospace;
  color: green;
}

/* ID selector */
#christmas {
  font-size: 20px;
  color: red;
}

/* Class selector */
.lyrics {
  display: none;
}

.center {
  text-align: center;
}